<div
  id="modal-success"
  class="modal modal--success"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-success-title"
  aria-hidden="true"
>
  <div class="modal__dialog">
    <button
      type="button"
      class="modal__close"
      aria-label="Закрыть"
      data-modal-close
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="modal__close-icon"
      >
        <mask
          id="mask0_7_6481"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_7_6481)">
          <path
            d="M1.47079 24L0 22.5292L10.5292 12L0 1.47079L1.47079 0L12 10.5292L22.5292 0L24 1.47079L13.4708 12L24 22.5292L22.5292 24L12 13.4708L1.47079 24Z"
            fill="#FFFFFF"
          />
        </g>
      </svg>
    </button>
    <h3 id="modal-success-title" class="modal__title">
      Ваша заявка успешно отправлена
    </h3>
    <p class="modal__text">Мы свяжемся с вами в ближайшее время</p>
  </div>
</div>
